* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}

body {
    margin-bottom: 35px;
}

.header-panel {
    margin: 30px 0px 20px 0px;
    width: 1080px;
    display: flex;
    justify-content: flex-start;
}

.header-panel h1 {
    transition: 0.5s;
}

#container {
    width: 1080px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

img {
    height: 200px;
    transition: 0.3s;

}

#choice-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    height: 300px;
}

#score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 10px;
}

#score-panel {
    display: flex;
    column-gap: 50px;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    row-gap: 5px;
}

#player,
#computer {
    border-radius: 15px;
    height: 90px;
    border: 5px solid black;
    background-color: #fcf2f0;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s;
}

.winner-log {
    margin-top: 20px;
    font-size: xx-large;
    transition: 0.5s;
}

.game-log {
    font-size: large;   
    margin: 2px;
    transition: 0.5s;
}

.choice {
    text-align: center;
}

.reset-button {
    height: 50px;
    width: 150px;
    margin-top: 20px;
    font-size: 1em;
    background-color: #fcf2f0;    
    border-radius: 15px ;
    font-weight: bold;
    border: 3px solid black;
    transition: 0.3s;
}


