* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid lightgrey
}

body {
    margin-bottom: 35px;
}
.header-panel {
    margin-top: 30px;
    width: 1080px;
    display: flex;
    justify-content: flex-start; 
}
#container {
    width: 1080px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}
img {
    height: 200px;
    transition: 0.3s;

}
img:hover {
    transform: 1.2;
}
#choice-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    height: 300px;
}

#score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 10px;
}

#score-panel {
    display: flex;
    column-gap: 50px;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    row-gap: 5px;
}





#player,
#computer {
    border-radius: 15px;
    height: 100px;
    background-color: #fcf2f0;
    width: 100px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}



.winner-log {
    margin-top: 20px;
    font-size: xx-large
}

.game-log {
    font-size: large;   
    margin: 2px;
}

.choice {
    text-align: center;
}